/* css code by Pankaj */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto+Slab&display=swap");
body {
  /* font-family: "Roboto Slab", serif !important; */
  font-family: "Poppins", sans-serif !important;
}
.sideBtn {
  width: 100%;
  padding: 4px 4px;
  background-color: rgb(228, 240, 238);
  padding-left: 1rem !important;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.sideBtn.active {
  background-color: rgb(105, 156, 149);
  color: white;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px !important;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.accordion-button {
  margin-left: -20px;
  width: 120%;
  border-radius: 0px;
  height: 36px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0;

}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
  background: none;
  border-radius: 0;
  border-color: black;
}
.accordion-item {
  color: black;
  /* border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color); */
}
.accordion-body{
  margin-top: -7px;
    padding: 1px 10px;
}
.catebtn {
  cursor: pointer;
  padding-right: 20px;
  position: relative;
  width: 100%;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
}
.storeSidebar{
  width: 23%;
}
.storeProduct{
  width: 75%;
}
@media only screen and (max-width: 1000px) and (min-width: 100px)  {
  .storeSidebar{
    width: 260px;
    display: none;
  }
  .storeProduct{
    width: 100%;
  }
}